@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');.textalign{
    text-align: center;
    align-items: center;
}
.flex{
    display: flex;
} 
.flexcol{
    flex-direction: column;
}
.bg{
    /* background-color: black; */
}
.button{
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    padding: 0px 11px 5px;
    margin: 2px 4px 0px;
    border-radius: 50px;
}
.row{
    padding: 10px;
    margin: -7px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.row input{
    padding: 10px 0px 10px;
    margin: 10px 0px;
    border-radius: 50px;
    font-size: 20px;
}
/* .row1{
    padding: 10px 0px 0px;
    margin: -10px 0px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
} */
